.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .post {
    width: 32%;
    border-radius: 5px;
  }
  
  @media screen and (max-width: 1280px) {
    .post {
      width: 45%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .post {
      width: 100%;
    }
  }